# Dependencies
node_modules/
/apps/backend/node_modules
/apps/frontend/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock

# Testing
/coverage

# Production
/build
/dist
/out

# Environment variables
.env
/apps/backend.env
/apps/frontend.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Backend specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
*.sqlite
*.db
*.sqlite3

# Frontend specific
/.cache
/.next/
/out/
.nuxt
.cache/
.temp/
.output/
storybook-static/
public/uploads/
public/assets/

# Misc
.DS_Store
Thumbs.db
.directory
/docs
/docs/*